* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c7cfb7;
}

.app {

    width: 100vW;
    height: 100vH;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .board {

        width: calc(150px*3);
        display: flex;
        flex-wrap: wrap;


        .cell {

            width: 150px;
            height: 150px;
            background-color: #f7f7e8;
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(2),
            &:nth-child(5) {
                border-right: 1px solid #557174;
                border-bottom: 1px solid #557174;
            }
            &:nth-child(3),
            &:nth-child(6) {

                border-bottom: 1px solid #557174;

            }
            &:nth-child(8) {
                border-right: 1px solid #557174;
                border-left: 1px solid #557174;

            }
            &.available {
                cursor: pointer;
                }
        }


    }


}


.PC,
.player {
    display: block;
    font-size: 100px;
    font-weight: bold;
    color: #9dad7f;
    font-family: cursive;
    }

